<!doctype html>
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static '/CryptoPeek/home.css' %}">
<div class="navbar">
    <a id="curr" href="{% url 'CryptoPeek:home' %}"><div class="logo">CryptoPeek</div></a>
    <div class="options">
        {% if user.is_authenticated %}
            <div id="optnohov">{{ user.username }}</div>
        {% endif %}
        <a id="curr" href="{% url 'CryptoPeek:home' %}"><div id="currentopt">Home</div></a>
        <a id="curr" href="{% url 'CryptoPeek:currencies' %}"><div id="opt">Currencies</div></a>
        <a id="curr" href="{% url 'CryptoPeek:compare' %}"><div id="opt">Compare</div></a>
        <a id="curr" href="{% url 'CryptoPeek:favourite' %}"><div id="opt">Favourite</div></a>
        {% if user.is_authenticated %}
            <div id="opt">
                <form method="post">
                    {% csrf_token %}
                    <input id="nameinput" type="submit" name='action' value="Log out">
                </form>
            </div>
        {% else %}
            <a id="curr" href="{% url 'CryptoPeek:account' %}"><div id="opt">Log in</div></a>
        {% endif %}
    </div>

</div>
<div class="container">
    <div class="slogan">
        <div id="text">
            Your dad's favourite place to satisfy his gambling addiction :D
        </div>
    </div>
       <div class="top">
           <a id="link" href="{% url 'CryptoPeek:detail' highest_profit_data.id %}">
               {% for crypto in all_crypto %}
                   {% if crypto.id == highest_profit_data.id %}
                       <div class="name">
                       <div class="nohoveron">Highest profit in last 24h: {{ highest_profit_data.name }} ({{crypto.price_change_percentage_24h}}%)</div>
                        <div class="hoveron">Learn more!</div>
                       </div>
                   {% endif %}
               {% endfor %}
           </a>
           <div class="graph">
                {% autoescape off %}
                    {{ plot_div_highest_profit }}
                {% endautoescape %}
           </div>
       </div>
</div>
<div class="container">
    <div class="slogan">
        <div id="text">
            I don't know why does this interest you, but here you go nerd...
        </div>
    </div>
       <div class="top">
       <a id="link" href="{% url 'CryptoPeek:detail' lowest_profit_data.id %}">
           {% for crypto in all_crypto %}
               {% if crypto.id == lowest_profit_data.id %}
                    <div class="name">
                        <div class="nohoveron">Lowest profit in last 24h: {{ lowest_profit_data.name }} ({{crypto.price_change_percentage_24h}}%)</div>
                        <div class="hoveron">Learn more!</div>
                    </div>
               {% endif %}
           {% endfor %}
       </a>
                <div class="graph">
                {% autoescape off %}
                    {{ plot_div_lowest_profit }}
                {% endautoescape %}</div>
       </div>
</div>